html,
body {
    height: 100%; 
    font-family: 'Montserrat', sans-serif;


}

.wrapper {
    width: 1178px;
    margin: 0 auto;
    height: 100%;
    position: relative;
}
.main-page {
    background: linear-gradient(270deg, #A5DEFF 0%, #FCFEFF 100%);
height: 100%;
display: flex;
flex-direction: column;
}
header {
    margin-top: 34px;
    margin-bottom: 58px;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
}
.logo-text {
    margin-left: 18px;
}

.banderogus-container {
    background-color: #FFFFFF;
    padding: 60px 56px;
    align-self: center;

}
.bandergus-greeting {
    color: #1B1D1F;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}
.banderogus-start-text {
    color: #FF6B0A;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 48px;
}

.banderogus-title {
    color: #1B1D1F;
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    margin-bottom: 16px;
}

.banderogus-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1B1D1F;
    margin-top: 24px;
    margin-bottom: 48px;
}

.banderogus-launch {
    background: #FF6B0A;
    border-radius: 8px;
    padding: 12px 24px;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;   
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;

}

.main-page-raw {
    display: flex;
    justify-content: space-between;
    height: 100%;

}

.banderogus-image {
    align-self: flex-end;
}


.gus-facts {
    padding: 52px 0 72px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.gus-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 100px;
    color: #1B1D1F;
    margin: 16px 0;
}

.gus-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #1B1D1F;
    width: 875px;
}

.gus-facts-container {
    width: 1170px;
    display: flex;
    justify-content: space-between;
    
}

.gus-fact-item {
    width: 33%;
}

.gus-fact-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #1B1D1F;
    margin: 12px 0 32px 0;
}

.gus-fact-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1B1D1F;
    width: 280px;
}

.victory-bgd {
    width: 1170px;
    background: linear-gradient(270deg, #A5DEFF 0%, #FCFEFF 100%);
    padding: 72px 0;
    margin-bottom: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.victory-footer {
    display: flex;
    justify-content: center;
}

.victory-title {
    width: 692px;
    height: 100px;
    left: 334px;
    top: 1802px;
    color: #1B1D1F;
    font-weight: 600;
    font-size: 48px;
    line-height: 100px;
    margin: 16px 0;
}

.victory-descr {
    width: 875px;
    height: 48px;
    left: 243px;
    top: 1918px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #1B1D1F;
}

.modal-bgd{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgb(27 29 31 / 70%);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease-in-out;

}

.modal-form{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.modal-form-container {
    background: #FFFFFF;
    padding: 32px 92px 60px 92px;
    position: relative;

}

.modal-form-title {
    color: #000000;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    margin: 32px 0 12px 0;
}

.modal-form-descr {
    width: 282px;
    height: 24px;
    left: 540px;
    top: 274px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 24px;
}

.modal-form-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;

}

.modal-field-name{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 8px;
    color: #1B1D1F;
    
}

.modal-field-input {
    background: #FFFFFF;
    border: 1px solid #005BBB;
    border-radius: 8px;
    height: 48px;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    padding: 4px 8px;
}

.modal-form-button {
    background: #FF6B0A;
    border-radius: 8px;
    padding: 12px 24px;
    color: #FFFFFF;
    font-weight: 400;   
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    margin-top: 24px;
    font-family: 'Montserrat';
    font-style: normal;
}

.close-btn{
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 20px;
    color: #1B1D1F;
    cursor: pointer;
    border: 0px;
    background: none;

}

.modal-descr {
    margin-bottom: 0px;
}

.modal-active {
    opacity: 1;
    pointer-events: all;
}

.gus-anim {
    position: fixed;
    top: 0;
    bottom: 0;
    margin-bottom: auto;
    margin-top: auto;
    width: 100%;
    z-index: 2;
    pointer-events: none;
}